--- 
---
@import 'colors';
@import 'typography';

body{
    margin: 0;
    font-family: $ff-ss;
    display: grid;
    grid-template-columns:
     1fr [container-start] 
     repeat(6, minmax(100px,250px))
     [container-end] 1fr;
    grid-gap: 2em 1em;
    font-size:1.2rem;

}
.title-area {
    background: $clr-blue;
    grid-column: 1/9;
    padding: 3em 0;
    text-align: center;
    color: $clr-white;
    margin-bottom: 4em;

}

.title {
    font-family: $ff-ss;
    text-transform: uppercase;
    font-size: 6rem;
    margin: 0;
    
}

p {
    grid-column: 3/7;
    margin: 0;
}

footer{
    grid-column: 1/9;
    background: $clr-pink;
    color:$clr-white;
    text-align: center;
    padding: 2em 0;
}